.header {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0px;
    left: 0px;
    color: white;
    background-color: brown;
    text-align: center;
}

p {
    font-size: 30px;
}
.container {
    margin-top: 100px;
}

.container h1 {
    background-color: blanchedalmond;
    padding: 5px;
    height: 40px;
}

.container .judul1 {
    position: sticky;
    top: 100px;
}

.container .judul2 {
    position: sticky;
    top: 140px;
}

.container .judul3 {
    position: sticky;
    bottom: 0px;
}